body,
html {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
header img {
  padding-bottom: 8px;
}
main {
  padding: 0% 12px 0% 12px;
}
h1,
.title-Times {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.header-banner {
  width: 100%;
  padding: 0%;
}

.principal-date {
  color: white;
}
.text-color-gray {
  color: gray;
}
.primary-button {
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  padding: 0.6rem;

  &:hover {
    opacity: 0.6;
  }
}

.secondary-button {
  border: none;
  background-color: #3737ca;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  padding: 0.6rem;
  width: 100%;
  margin-bottom: 28px;

  &:hover {
    opacity: 0.6;
  }
}
.bold-text {
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.article-credits {
  display: flex;
  gap: 12px;
  font-size: 0.7rem;

  & p {
    margin: 0%;
    padding: 0%;
  }
}
.article-creator {
  font-weight: 700;
}
.article-credits_date span {
  padding-left: 4px;
  text-transform: uppercase;
}
.news-article__content p {
  margin-bottom: 10px;
}
.news-article_typeTag {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: red;
  font-weight: 700;
  text-decoration: none;
  list-style: none;
  margin-top: 0;
  margin-bottom: 8px;
}

.footer-container {
  background-color: black;
  display: flex;
  height: 200px;
  margin-top: 50px;
  flex-direction: column;
  justify-content: end;

  & nav {
    display: flex;
    padding-bottom: 36px;
    width: 100%;

    & ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      list-style-type: none;
      padding-left: 5%;

      & li {
        width: fit-content;

        & a {
          color: white;
          text-decoration: none;
          font-size: 0.8rem;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.footer-title {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  padding-left: 3%;
}
.news-menu {
  display: flex;
  justify-content: center;
  background-color: black;
  & ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    padding-left: 0;
    & li a {
      color: rgb(199, 199, 199);
    }

    & li a {
      color: rgb(255, 255, 255);
    }
  }
}

@media only screen and (min-width: 768px) {
  .news-menu {
    display: flex;
    justify-content: center;
    background-color: black;
    & ul {
      display: flex;
      justify-content: space-around;
      width: 30%;
      list-style: none;
      & li a {
        color: rgb(199, 199, 199);
      }
  
      & li a:hover {
        color: rgb(255, 255, 255);
        transition: all 0.2s ease-in;
      }
    }
  }
}
