.articles-container {
  display: flex;
  flex-direction: column;
  gap: 50px 10px;
  padding-top: 26px;
  padding-bottom: 26px;
}
@media only screen and (min-width: 768px) {
  .articles-container {
    flex-direction: column;
    gap: 30px 10px;
  }
}

@media only screen and (min-width: 850px) {
  .articles-container {
    flex-direction: row;
    gap: 10px 10px;
    justify-content: space-around;
  }
}

.news-article {
  display: flex;
  flex-direction: column;
  width: 100%;
  & img {
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
  }
  & p {
    padding: 0.2rem;
    margin-top: 0;
  }
}

.news-article h1:hover {
  color: #3737ca;
  cursor: pointer;
  transition: all ease-in 0.5ms;
}

@media only screen and (min-width: 768px) {
  .news-article {
    display: flex;
    flex-direction: row;
    gap: 10px 10px;
    width: 100%;
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      & img {
        width: 100%;
        border-radius: 12px;
        object-fit: contain;
      }
    }
    & p {
      padding: 0.2rem;
      margin-top: 0;
    }
  }
}
@media only screen and (min-width: 850px) {
  .news-article {
    display: flex;
    flex-direction: column;
    gap: 10px 10px;
    transition: transform 0.15s ease-in;
    width: 30%;

    & img {
      width: 100%;
      border-radius: 8px;
    }
    & p {
      padding: 0.2rem;
      margin-top: 0;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
